:root{
  --color-primary:#2ea3f2;
  --color-text:#666;
  --font-main:Roboto-bold;
  --font-text:Roboto-regular;
}

/*Main settings*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  color: var(--color-text);
}
@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-main);
}

/*End main settings*/

/*Layout settings*/
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: var(--color-primary)
}
nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: var(--font-main);
  padding: 10px;
}
nav ul li a:hover{
  color: var(--color-text);
}
main{
  display: flex;
  width: 100vw;
  margin: 50px;
  justify-content: center;
  align-items: flex-start;
}

.list{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text);
  width: 50%;
  list-style-type: none;
}
.list li{
  padding: 15px;
  border-bottom: 1px solid var(--color-text);
}
/*End Layout settings*/

