{% extends './layouts/base.html' %}
{% block content %}
  <h1>Jesus Reynaldo</h1>
  <div class="about">
    <img src="https://picsum.photos/id/6/350/300"/>
    <div class="about-content">
      <h3>Lorem ipsum dolor sit amet consectetur</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nulla quidem sit iure quae pariatur adipisci ipsum eum fuga asperiores, nam obcaecati fugit officiis quaerat porro, nesciunt sapiente neque repudiandae.</p>
    </div>
  </div>
{% endblock content %}
