{% extends './layouts/base.html' %}
{% block content %}
  <h1>portfolio</h1>
  <div class="photos">
    <img src="https://picsum.photos/id/69/300/350"/>
    <img src="https://picsum.photos/id/156/300/350"/>
    <img src="https://picsum.photos/id/365/300/350"/>
    <img src="https://picsum.photos/id/266/300/350"/>
    <img src="https://picsum.photos/id/693/300/350"/>
    <img src="https://picsum.photos/id/163/300/350"/>
    <img src="https://picsum.photos/id/353/300/350"/>
    <img src="https://picsum.photos/id/663/300/350"/>
    <img src="https://picsum.photos/id/569/300/350"/>
    <img src="https://picsum.photos/id/556/300/350"/>
    <img src="https://picsum.photos/id/155/300/350"/>
    <img src="https://picsum.photos/id/66/300/350"/>
  </div>
{% endblock content %}