{% load static %}
<footer>
  <img src="{% static 'img/camara.png' %}" />
  <ul>
    <li><a href="https://www.flaticon.es/iconos-gratis/foto">Diseño logotipo: Flaticon</a></li>
    <li><a href="https://www.flaticon.es/iconos-gratis/foto">Diseño logotipo: Flaticon</a></li>
    <li><a href="https://www.flaticon.es/iconos-gratis/foto">Diseño logotipo: Flaticon</a></li>
  </ul>  
  <ul>
    <li><a href="{% url 'index' %}">Index</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    <li><a href="https://www.instagram.com/">Instagram</a></li>
  </ul>  
  <ul>
    <li><a href="{% url 'index' %}">Index</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    <li><a href="https://www.instagram.com/">Instagram</a></li>
  </ul>
</footer>