{% extends 'layout/base.html' %}
{% block 'title' %}Tareas{% endblock %}
{% block 'content' %}
<h1>TAREAS</h1>
  <form class="search" method="GET" action="{% url 'todo' %}">
    <input type="text" name="search" class="search-bar" placeholder="Buscar tarea...">
    <input type="submit" value="Buscar" class="btn btn-search" />
  </form>
  <span class="aux-btns">
    <a href="{% url 'todo' %}">Ver todos</a>
    <a href="{% url 'todo_create'%}">Añadir</a>
  </span>
  <ul class="list">
    {% for todo in todos %}
    <li>{{ todo }}
      <span>
        <a href="{% url 'todo_view' id=todo.id %}" class="btn btn-detail">Ver</a>
        <a href="{% url 'todo_edit' id=todo.id %}" class="btn btn-edit">Editar</a>
        <a href="{% url 'todo_delete' id=todo.id %}" class="btn btn-delete">Borrar</a>
      </span>
    </li>
    {% endfor %}
  </ul>
{% endblock %}