<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola {{name}}</h1>
    <h3>Categories</h3>
    <ul>
      {#Este es un comentario#} 
      {% comment "" %} 
        Este es un comentario 
        Este es un multilinea 
        {% endcomment %} 
      {%for category in categories%} 
        {%if category == 'code'%}
          <li><b>{{category}}</b></li>
        {%else%}
          <li>{{category|upper}}</li>
        {%endif%} 
      {%endfor%}
    </ul>
    <h5>Total de categorias: {{categories|length}}</h5>
  </body>
</html>
